@model IEnumerable<crm_nvc.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.USUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PASSWORD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREATEDDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LASTLOGINDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISACTIVE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USUARIO)
            </td>
            <td>
                *********
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATEDDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LASTLOGINDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISACTIVE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
